<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<!-- Tells the application to use the .NET 9.0 runtime -->
		<supportedRuntime version="v9.0" />
	</startup>

	<!-- Logging or other configurations -->
	<appSettings>
		<add key="AppName" value="Mega Kml to Gpx WPF Application" />
		<add key="LoggingLevel" value="Verbose" />
	</appSettings>
</configuration>
